.container {
  text-align: center;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  color: red;
  font-size: 3rem;
}
@media (max-width: 77rem) {
  .container {
    font-size: 2rem;
  }
}

@media (max-width: 67rem) {
  .container {
    font-size: 1.4rem;
  }
}
